body {
  background: black;
}
#map {
  position: absolute;
  bottom:100px; width:100%;
}
.marker {
  width: 700px;
  height: 700px;
  border-radius: 90%;
  cursor: pointer;
}

#level {
  position: absolute;
  top: 90px; left: 620px;
  color: white;
  font-family: arial;
}

#popup {
  color: red;
}
